<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CORE Test Suite" verbose="1">
    <test name="ServicesTest">
        <classes>
            <!--<class name="ShopItemTest"/>-->
            <class name="JsonTest"/>
            <!--<class name="PlayerTest"/>-->
        </classes>
    </test>
</suite>


